# Logistic Regression

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data= housing_data.dropna() # Drop record with missing values
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value']==500001].index)
housing_data = pd.get_dummies(housing_data,columns=['ocean_proximity'])

##  pb classification : Prix sup ou inf a la median

In [3]:
median = housing_data['median_house_value'].median()
median

173800.0

In [4]:
# CrÃ©er la colonne des resultats
housing_data['above_median']=(housing_data['median_house_value']-median)>0

In [5]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
4095,-118.40,34.15,44.0,2515.0,510.0,967.0,484.0,5.0754,374500.0,1,0,0,0,0,True
12716,-121.37,38.60,35.0,3137.0,544.0,1312.0,549.0,3.7880,136800.0,0,1,0,0,0,False
15191,-117.05,33.02,18.0,917.0,121.0,388.0,131.0,6.3517,260100.0,1,0,0,0,0,True
14294,-117.13,32.72,43.0,2160.0,504.0,1221.0,452.0,2.4821,140600.0,0,0,0,0,1,False
19165,-122.68,38.40,32.0,2826.0,627.0,1767.0,628.0,3.1047,141400.0,1,0,0,0,0,False

In [7]:
X = housing_data.drop(['median_house_value','above_median'],axis=1)
Y = housing_data['above_median']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [9]:
from sklearn.linear_model import LogisticRegression
# liblinear est un solver pour les pb d optimisation, efficace pour les petit dataset et classification binaire
logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [10]:
print("Training score: ", logistic_model.score(x_train,y_train))

Training score:  0.8199614890885751

In [11]:
y_pred = logistic_model.predict(x_test)

In [12]:
df_pred_actual=pd.DataFrame({'predicted' : y_pred , 'actual': y_test})
df_pred_actual.head(10)

       predicted  actual
8488       False   False
12818      False   False
12767      False   False
13798      False   False
2787       False   False
1552        True    True
4728        True    True
7309       False   False
7287       False   False
5914       False   False

In [13]:
from sklearn.metrics import accuracy_score
print("Testing_score : ",accuracy_score(y_test,y_pred))

Testing_score :  0.8215661103979461